/*&       TABLET      */
@media screen and (min-width: 768px) {
  .container {
    max-width: var(--tablet-max-width);
  }
  .section {
    padding-top: 100px;
  }
  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .nav-link::after {
    background-color: currentColor;
    content: "";
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    bottom: 34px;
    transform: scaleX(0);
    transition: transform var(--duration);
  }
  .nav-link:is(:hover, :focus)::after {
    transform: scaleX(1);
  }
  /*%    HEADER tablet    */
  .social-link {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .header-container .social-item:last-child .social-link {
    padding-right: 0px;
  }
  .social-item:first-child .social-link {
    padding-left: 6px;
  }
  /*%    ADVANTAGES tablet    */
  .advantages {
    padding: 50px 0;
  }
  .advantages-list {
    gap: 45px 60px;
  }
  .advantages-item {
    width: calc((100% - 60px) / 2);
  }
  /*%    TASTE tablet    */
  .taste-title {
    max-width: 411px;
    margin-bottom: 28px;
  }
  .taste-main-text {
    max-width: 486px;
    margin-bottom: 50px;
  }
  .taste-list {
    gap: 32px;
  }
  .taste-item {
    width: calc((100% - 32px) / 2);
  }
  /*%    MADE tablet    */
  .made-title {
    margin-bottom: 50px;
  }
  .made-img {
    width: 100%; /*! temporarily*/
  }
  .made-text-container {
    padding: 32px;
  }
  .made-text {
    max-width: 350px;
    margin-bottom: 28px;
  }
  .made-list {
    max-width: 480px;
  }
  /*%    LOVED tablet    */
  #loved {
    padding-bottom: 100px;
  }
  .section-title.loved-title {
    margin-bottom: 91px;
  }
  .loved-list {
    column-gap: 16px;
    margin-bottom: 50px;
  }
  .loved-item {
    width: calc((100% - 16px) / 2);
    padding: 56px 24px 24px;
  }
  .loved-btn {
    font-size: 18px;
  }
  /*%    FOOTER tablet    */
  .footer {
    padding-top: 50px;
  }
  .footer-top-container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  .footer-top-text {
    font-size: 28px;
    line-height: 1.21;
  }
  .footer-communication-container {
    flex-direction: row;
    column-gap: 50px;
  }
  .footer-communication-text.padding {
    padding-left: 7px;
  }
  .footer-communication-container > :first-child {
    order: 2;
  }
  .footer-bottom-container {
    flex-direction: row;
    row-gap: unset; /*initial; auto;*/
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-bottom-container .nav-list {
    flex-direction: row;
  }
  .footer-nav-item .nav-link {
    padding: 42px 12px 68px;
  }
  .footer-nav-item:first-child .nav-link {
    padding-left: 0px;
  }
  .footer-nav-item:first-child .nav-link::after {
    left: 3px;
  }
  .footer-nav-item .nav-link::after {
    bottom: 66px;
  }

  .footer-subscribe-form {
    padding-top: 24px;
  }
  .footer-subscribe-input {
    width: 233px;
  }
  .footer-submit-btn {
    padding-right: 28px;
    padding-left: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1165px) {
  /*$    TASTE tablet    */
  .taste-item:nth-child(2) {
    order: 3;
  }
  .taste-item:nth-child(3) {
    order: 4;
  }
  .taste-item:nth-child(4) {
    order: 2;
  }
  .taste-item:nth-child(n + 5) {
    order: 5;
  }
  /*$    MADE tablet    */
  #made > .container {
    max-width: 644px;
  }
  /*$    FOOTER tablet    */
  /* .footer-nav-item:nth-last-child(-n + 2) {
    display: none;
  } */
  .footer-nav-item:nth-child(n + 4) {
    display: none;
  }
  /**/
}

/*&       DESKTOP      */
@media screen and (min-width: 1166px) {
  .container {
    max-width: var(--desktop-max-width);
  }
  /*%    HEADER desktop    */
  .social-link {
    padding-left: 7px;
  }
  .social-icon {
    width: 24px;
    height: 24px;
  }
  /*%    ADVANTAGES desktop    */
  .advantages-list {
    column-gap: 88px;
    padding-right: 17px;
    padding-left: 17px;
  }
  .advantages-item {
    width: calc((100% - 88px * 2) / 3);
  }
  .advantages-item:not(:last-child)::after {
    /* display: block; don't need when position: absolute; */
    position: absolute;
    content: "";
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
    height: 124px;
    width: 1px;
    background-color: rgba(var(--rgb-secondary), 0.5);
  }
  /*%    TASTE desktop    */
  .taste-list {
    row-gap: 24px;
  }
  .taste-item {
    width: calc((100% - 32px * 3) / 4);
    padding: 29px 23px;
  }
  .taste-img {
    margin-bottom: 36px;
  }
  .taste-overlay-container {
    padding: 20px 15px;
  }
  .taste-buttons-container {
    padding-bottom: 10px;
  }
  /*%    MADE desktop    */
  .made-container {
    display: flex;
    justify-content: space-between;
    /* "space-between" only works when all elements have a specified width */
  }
  .made-img {
    width: unset; /*initial; auto;*/
    margin-bottom: 0;
  }
  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .made-text-container {
    width: 516px;
  }
  .made-list {
    max-width: 428px;
  }
  /*%    LOVED desktop    */
  #loved {
    padding-bottom: 120px;
  }
  .loved-list {
    column-gap: 28px;
  }
  .loved-item {
    width: calc((100% - 28px * 2) / 3);
    padding: 56px 24px 24px;
  }
  /*%    FOOTER desktop    */
  .social-item:not(:last-child) .social-link {
    padding-right: 7px;
  }
  .footer-subscribe-input {
    width: 313px;
    height: 52px;
  }
  .footer-submit-btn {
    padding: 17px 40px;
  }
}
