:root {
  --rgb-primary: 17, 17, 17; /*#111111*/
  --rgb-secondary: 255, 255, 255; /*#ffffff*/
  --rgb-gray: 64, 64, 64; /*#404040*/

  --page-background: #fafafa;
  --purple: #1e1823;
  --accent: #fd9222;
  --accent-light: #fcf1e0;
  --accent-red: #e74a3b;

  /* Transition */
  --duration: 290ms;

  /* Background Images */
  --hero-bg: url(../images/hero/hero-bg.jpg);

  /* Container configurations */
  --side-padding: 15px;
  --mobile-max-width: calc(335px + var(--side-padding) * 2);
  --tablet-max-width: calc(704px + var(--side-padding) * 2);
  --desktop-max-width: calc(1136px + var(--side-padding) * 2);
}

/*
/  *,
/  *::before,
/  *::after {
     box-sizing: border-box;
} it's in modern-normalize!*/
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--rgb-primary));
  background-color: var(--page-background);
  font-family: "Montserrat", sans-serif;
  /*Don't add:
  line-height: 
  letter-spacing: 
  parameters here - it doesn't handle inheritance correctly...
  */
}
p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  padding-left: 0;
  list-style: none;
}
a,
img,
svg {
  display: block;
}
a {
  color: inherit; /* currentColor!? */
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}
.no-scroll {
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  /* + max-width. it's better  for flexibility, instead of just "width: 1166px;"*/
  margin: 0 auto;
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
}
.section {
  padding-top: 120px;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.section-title span {
  color: var(--accent);
}
.subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.description-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.nav-list {
  display: flex;
}
.nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.02em;
  padding: 28px 12px 36px;
  transition: color var(--duration);
  position: relative;
}
.nav-link::after {
  background-color: currentColor;
  content: "";
  position: absolute;
  height: 1px;
  left: 15px;
  right: 15px;
  bottom: 34px;
  transform: scaleX(0);
  transition: transform var(--duration);
}
.nav-link:is(:hover, :focus) {
  color: var(--accent);
}
.nav-link:is(:hover, :focus)::after {
  transform: scaleX(1);
}
.buttons {
  font-size: 14px;
  font-weight: 600;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  padding: 14px 40px;
  transition: all var(--duration);
}
.hero-btn-buy:is(:hover, :focus),
.footer-submit-btn:is(:hover, :focus) {
  color: var(--accent);
  border-color: var(--accent-light);
  background-color: var(--accent-light);
}
.social-link:is(:active) .social-icon,
.hero-btn-buy:is(:active),
.hero-link-made:is(:active),
.modal-submit-btn:is(:active),
.footer-submit-btn:is(:active) {
  scale: 0.95;
}

/**          header            */
.header-container {
  display: flex;
  align-items: center;
  gap: 71px;
}
.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.12;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 4px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-logo-accent {
  font-style: italic;
}
.socials-list {
  display: flex;
}
.social-link {
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 7px;
}
.social-item:not(:last-child) .social-link {
  padding-right: 7px;
}
.social-icon {
  transition-property: color, transform;
  transition-duration: var(--duration);
}
.social-link:is(:hover, :focus) .social-icon {
  color: var(--accent);
  transform: scale(1.15);
}

/**            hero               */
.hero {
  color: rgb(var(--rgb-secondary));
  padding-bottom: 80px;
}
.hero-container {
  padding: 381px 40px 40px;
  background-color: rgba(var(--rgb-primary), 0.6);
  background-image:
    linear-gradient(
      180deg,
      rgba(var(--rgb-primary), 0),
      rgba(var(--rgb-primary), 0.4)
    ),
    var(--hero-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.hero h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-buttons-container {
  display: flex;
  align-items: center;
}
.hero-btn-buy {
  border-color: var(--accent);
  background-color: var(--accent);
  margin-right: 14px;
}
.hero-link-made {
  border-color: currentColor;
}
.hero-link-made:is(:hover, :focus) {
  color: var(--accent);
}
.hero-link-down {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  transition: color var(--duration);
}
.hero-link-down:is(:hover, :focus) {
  color: var(--accent);
}
.down-icon-container {
  padding: 8px;
  border-radius: 50%;
  background-color: currentColor;
}
.down-icon {
  fill: var(--accent);
  transition: fill var(--duration);
}
.hero-link-down:is(:hover, :focus) .down-icon {
  fill: rgb(var(--rgb-secondary));
}

/**       advantages        */
.advantages {
  color: rgb(var(--rgb-secondary));
  background-color: var(--purple);
  padding-top: 20px;
  padding-bottom: 20px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 88px;
  /*$ gap: 88px; */
  justify-content: center;
  /*$ padding-right: 18px; */
  /*$ padding-left: 18px; */
}
.advantages-item {
  width: 100%;
  /*$ width: calc((100% - 2 * 88px) / 3); */
  position: relative;
}
.advantages-item:not(:last-child)::after {
  content: "";
  /*! display: block; don't need when position: absolute; */
  display: none; /*% for mobile */
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
  height: 124px;
  width: 1px;
  background-color: rgba(var(--rgb-secondary), 0.5);
}
.advantages-icon-container {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(var(--rgb-secondary), 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.advantages-subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.advantages-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(var(--rgb-secondary), 0.7);
}

/**            taste            */
.taste-title {
  margin-bottom: 28px;
}
.taste-main-text {
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px;
}
.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.taste-item {
  width: calc((100% - 3 * 32px) / 4);
  border: 1px solid var(--accent);
  border-radius: 15px;
  padding: 29px 23px;
  position: relative;
  overflow: hidden;
}
.taste-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}
.taste-item:nth-child(odd) h3,
.taste-item:nth-child(odd) .taste-icon {
  color: rgb(var(--rgb-secondary));
}
.taste-item:nth-child(4n + 1) {
  background-color: var(--accent);
}
.taste-item:nth-child(4n + 3) {
  border-color: var(--purple);
  background-color: var(--purple);
}
.taste-item:nth-child(even) {
  background-color: rgb(var(--rgb-secondary));
}
.taste-item:nth-child(even) .taste-icon {
  color: var(--accent);
}
.taste-img {
  height: 160px;
  margin-bottom: 36px;
}
.taste-item-name {
  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
}
.taste-item-name.main {
  font-size: 14px;
  letter-spacing: -0.02em;
}
.taste-item-name.overlay {
  font-size: 18px;
  letter-spacing: -0.03em;
}
.taste-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 20px 15px;
  background-color: rgb(var(--rgb-secondary));
  transform: translateY(101%);
  transition: transform var(--duration);
  display: flex;
  flex-direction: column;
}
.taste-item:hover .taste-overlay-container {
  transform: translateY(0);
}
.taste-buttnos-container {
  display: flex;
  gap: 6px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.taste-btn {
  font-size: 10px;
  line-height: 1.2;
  padding: 6px 16px;
  border: 1px solid var(--accent);
  border-radius: 35px;
}
.taste-btn.product {
  color: rgb(var(--rgb-secondary));
  background-color: var(--accent);
}
.taste-overlay-text {
  overflow-y: auto;
}

/**            made              */
.made-container {
  display: flex;
  justify-content: space-between;
  /* "space-between" only works when all elements have a specified width */
}
.made-img {
  background-color: rgba(var(--rgb-primary), 0.4);
  border-radius: 15px;
}
.made-text-container {
  background-color: rgb(var(--rgb-secondary));
  max-width: 516px;
  border-radius: 15px;
  padding: 32px;
}
.made-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  max-width: 350px;
  margin-bottom: 28px;
}
.made-list {
  width: 428px;
}
.made-item {
  position: relative;
  padding-left: 16px;
}
.made-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/**         products          */
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
  text-align: center;
}
.product-item {
  width: calc((100% - 3 * 18px) / 4);
  border: 1px solid rgba(var(--rgb-primary), 0.1);
  border-radius: 15px;
  padding: 32px 20px;
  background-color: rgb(var(--rgb-secondary));
}
.product-img {
  margin-bottom: 8px;
}
.product-name {
  margin-bottom: 2px;
}
.product-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(var(--rgb-primary), 0.7);
  margin-bottom: 18px;
}
.product-btn {
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px;
  border: 1px solid rgba(var(--rgb-primary), 0.1);
  border-radius: 100px;
  background-color: var(--page-background);
  transition-property: color, background-color, border-color;
  transition-duration: var(--duration);
}
.product-btn:is(:hover, :focus) {
  color: rgb(var(--rgb-secondary));
  border-color: var(--accent);
  background-color: var(--accent);
}

/**            sellers             */
.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-item {
  width: calc((100% - 2 * 16px) / 3);
}
.sellers-item-container {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
  position: relative;
}
.sellers-description-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  color: rgb(var(--rgb-secondary));
  padding: 178px 40px 40px;
  overflow-y: auto;
  background-color: rgba(var(--rgb-primary), 0.2);
  backdrop-filter: blur(7px);
  transition: opacity var(--duration);
  opacity: 0;
}
.sellers-description-overlay:is(:hover, :focus) {
  opacity: 1;
}
.sellers-item-name {
  border-inline: 1px solid rgba(var(--rgb-primary), 0.1);
  border-bottom: 1px solid rgba(var(--rgb-primary), 0.1);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
}

/**            loved             */
#loved {
  padding-bottom: 120px;
  text-align: center;
}
.section-title.loved-title {
  margin-bottom: 91px;
}
.loved-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}
.loved-item {
  width: calc((100% - 2 * 28px) / 3);
  padding: 56px 24px 24px;
  border: 1px solid rgba(var(--rgb-primary), 0.1);
  border-radius: 15px;
  background-color: rgb(var(--rgb-secondary));
  position: relative;
}
.loved-img {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}
.loved-item h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}
.loved-item p {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  font-size: 18px;
  border-color: var(--accent);
}
.loved-btn:is(:hover, :focus) {
  color: rgb(var(--rgb-secondary));
  background-color: var(--accent);
}

/**            footer            */
.footer {
  color: rgb(var(--rgb-secondary));
  background-color: var(--purple);
  padding-top: 50px;
}
.footer-top-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--rgb-secondary), 0.1);
  padding-bottom: 50px;
}
.footer-top-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.footer-top-text span {
  color: var(--accent);
}
.footer-communication-container {
  display: flex;
  gap: 50px;
}
.footer-communication-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.footer-communication-text.padding {
  padding-left: 7px;
}
.social-link.footer-paddings {
  padding-top: 14px;
  padding-bottom: 16px;
}
.footer-communication-container .social-item:last-child .social-link {
  padding-right: 7px;
}

.footer-contacts {
  margin-top: 14px;
  font-style: normal;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: color var(--duration);
}
.footer-contacts-link:is(:hover, :focus) {
  color: var(--accent);
}
.footer-nav-item .nav-link {
  padding-top: 42px;
  padding-bottom: 68px;
}
.footer-nav-item:first-child .nav-link {
  padding-left: 0px;
}
.footer-nav-item:first-child .nav-link::after {
  left: 3px;
}
.footer-nav-item .nav-link::after {
  bottom: 66px;
}
.footer-bottom-container {
  display: flex;
  justify-content: space-between;
}
.footer-subscribe-form {
  padding-top: 24px;
}
.footer-input-container {
  position: relative;
  display: inline-block;
}
.footer-subscribe-input {
  width: 313px;
  height: 52px;
  border-radius: 30px;
  border: 1.5px solid rgba(var(--rgb-secondary), 0.15);
  background-color: transparent;
  color: inherit;
  padding: 14px 24px;
  margin-right: 8px;
  outline: transparent;
  transition: all var(--duration);
}
.footer-subscribe-input:is(:hover, :focus) {
  border-color: var(--accent);
}
.footer-subscribe-label {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(var(--rgb-secondary), 0.3);
  transition: all var(--duration);
}
.footer-subscribe-input:is(:focus) + .footer-subscribe-label,
.footer-subscribe-input:not(:placeholder-shown) + .footer-subscribe-label {
  color: var(--accent);
  top: 0;
  left: 25px;
  font-size: 14px;
  padding: 0px 5px;
  background-color: var(--purple);
}
.footer-submit-btn {
  padding: 17px 40px;
  border-color: var(--accent);
  background-color: var(--accent);
}

/**            modal              */
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(var(--rgb-primary), 0.4);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* display: grid;
  place-content: center; */
  display: flex;
  transition: opacity, visibility, transform;
  transition-duration: var(--duration);
}
.modal-backdrop.is-hidden {
  transform: scaleY(0);
}
.modal {
  background-color: var(--page-background);
  position: relative;
  width: 517px;
  min-height: 794px; /* don't use just height */
  border-radius: 15px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%; */
  margin: auto;
  overflow: hidden;
  padding: 40px;
}
.modal-close-btn {
  border: none;
  background-color: transparent;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px 24px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: var(--duration);
}
.modal-close-btn:is(:hover, :focus) {
  color: var(--accent);
}
.section-title.modal-title {
  max-width: 300px;
  text-align: left;
  margin-bottom: 42px;
}
.modal-input-label-container {
  display: block;
  margin-bottom: 18px;
}
.modal-label {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(var(--rgb-gray), 0.3);
  margin-bottom: 8px;
}
.modal-input-wrapper {
  display: block;
  position: relative;
}
.modal-input {
  width: 100%;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(var(--rgb-primary), 0.05);
  background-color: transparent;
  padding: 0px 15px 0px 62px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--duration);
}
.modal-input:is(:hover, :focus) {
  border-color: var(--accent);
}
.modal-input::placeholder {
  color: rgba(var(--rgb-gray), 0.3);
  font-size: 18px;
  letter-spacing: -0.02em;
}
.modal-input:is(:focus)::placeholder {
  opacity: 0;
}
.modal-input-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(var(--rgb-gray));
  transition: color var(--duration);
}
.modal-input:focus + .modal-input-icon {
  color: var(--accent);
}
.modal-textarea-container {
  margin-bottom: 18px;
}
.modal-textarea-wrapper {
  display: block;
  position: relative;
}
.modal-textarea {
  display: block;
  height: 137px;
  padding: 22px 24px;
  resize: none;
}

/* invalid */
.modal-input:not(:placeholder-shown):invalid {
  border-color: var(--accent-red);
}
.modal-input:not(:placeholder-shown):invalid + .modal-input-icon {
  color: var(--accent-red);
}
.modal-input-invalid-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  fill: transparent;
  transition: fill var(--duration);
}
.modal-input:not(:placeholder-shown):invalid ~ .modal-input-invalid-icon {
  fill: var(--accent-red);
}

/*  terms  */
.modal-terms-container {
  margin-bottom: 40px;
}
.modal-checkbox {
  width: 20px;
  height: 20px; /*for proper required message placement*/
}
.modal-checkbox:is(:focus) + .modal-terms-label span {
  border-color: var(--accent);
}
.modal-checkbox:checked + .modal-terms-label span {
  background-color: var(--accent);
  border-color: var(--accent);
  fill: rgb(var(--rgb-secondary));
  scale: 1.1;
}
.modal-checkbox:active + .modal-terms-label span {
  scale: 0.9;
}
.modal-terms-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(var(--rgb-gray), 0.6);
  display: flex;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
}
.modal-terms-label span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(var(--rgb-primary), 0.14);
  border-radius: 6px;
  margin-right: 12px;
  fill: transparent;
  transition: all var(--duration);
}
.modal-terms-label:is(:hover) span {
  border-color: var(--accent);
}
.modal-terms-label a {
  display: inline-block;
  color: var(--accent);
  text-decoration: underline;
}
.modal-terms-label a:is(:hover, :focus) {
  outline: var(--accent) dotted 1px;
}
.modal-submit-btn {
  color: rgb(var(--rgb-secondary));
  border-color: var(--accent);
  background-color: var(--accent);
}
.modal-submit-btn:is(:hover, :focus) {
  color: var(--accent);
  border-color: currentColor;
  background-color: var(--accent-light);
}
/* .modal-input:required {
  border-color: blue;
}
.modal-form-submit:disabled {
  opacity: 0.5;
  pointer-events: none;
} */

@media screen and (min-width: 375px) {
  .container {
    max-width: var(--mobile-max-width);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--tablet-max-width);
  }
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages-list {
    gap: 32px;
  }
  .advantages-item {
    width: calc((100% - 32px) / 2);
  }
}
