:root {
  --black: #111111;
  --purple: #1e1823;
  --orange: #fd9222;
  --light: #fcf1e0;
  --white: #fafafa;
}
body {
  font-family: "Montserrat", sans-serif;
  /*Don't add:
  line-height: 
  letter-spacing: 
  parameters here - it doesn't handle inheritance correctly.
  */
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* *              H E A D E R              */

.header-logo {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}
.header-logo span {
  font-style: italic;
}
.header-menu-link {
  font-size: 14px;
  font-weight: medium;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
}
.header-menu-link:is(:hover, :focus) {
  color: var(--orange);
}
/* The same result as from the top entry:
.header-menu-link:hover,
.header-menu-link:focus {
  color: --orange;
} */

/* *                H E R O                 */

.hero {
  background: grey;
}
.hero h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-btn-buy {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--orange);
}
.hero-link-how {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.hero-link-down {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

/* *           A D V A N T A G E S             */
