:root {
  --primary: #111111; /*17, 17, 17*/
  --secondary: #ffffff;
  --accent: #fd9222;
  --light-orange: #fcf1e0;
  --violet: #1e1823;
  --page-background: #e9e9e9;
  --secondary-for-rgba: 255, 255, 255;
  --primary-for-rgba: 17, 17, 17;
}
/*/*,
/  *::before,
/  *::after {
     box-sizing: border-box;
} it is in modern-normalize!*/
html {
  scroll-behavior: smooth;
}
body {
  display: smooth;
  color: var(--primary);
  background-color: var(--page-background);
  font-family: "Montserrat", sans-serif;
  /*Don't add:
  line-height: 
  letter-spacing: 
  parameters here - it doesn't handle inheritance correctly.
  */
}
p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  padding-left: 0;
  list-style-type: none;
}
a {
  /* display: block; */
  color: inherit; /* currentColor!? */
  text-decoration: none;
}
button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1166px; /*layout + two paddings 15px*/
  /* better for flexibility, instead of just "width: 1166px;"*/
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  /* border: 1px solid red; */
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.section-title span {
  color: var(--accent);
}

/* *          H E A D E R            */

.header {
  /* padding-top: 24px;
  padding-bottom: 24px; */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.header-logo-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  gap: 4px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logo-link span {
  font-style: italic;
}
.header-menu {
  display: flex;
  gap: 20px;
}
.header-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  /* test: */
  position: relative;
  transition: color 0.3s ease;
  padding: 24px 2px;
}
/* test: */
.header-menu-link::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 3px;
  right: 4px;
  bottom: 22px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.header-menu-link:is(:hover, :focus) {
  color: var(--accent);
}
/* The same result as from the top entry:
.header-menu-link:hover,
.header-menu-link:focus {
  color: --orange;
} */
.header-menu-link:is(:hover, :focus)::after {
  transform: scaleX(1);
}
/* The same result as from the top entry:
.header-menu-link:hover::after,
.header-menu-link:focus::after {
  transform: scaleX(1);
} */

.header-social {
  display: flex;
  gap: 18px;
}
/* *            H E R O               */

.hero {
  color: var(--secondary);
  padding-bottom: 72px;
}
.hero-container {
  padding: 381px 40px 40px;
  background-color: var(--violet);
  border-radius: 30px;
}
.hero h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-buttons-container {
  display: flex;
  align-items: center;
}
.hero-buttons {
  font-size: 14px;
  font-weight: 600;
  border-width: 1px;
  border-radius: 100px;
  padding: 14px 40px;
}
.hero-btn-buy {
  border-color: var(--accent);
  background-color: var(--accent);
  margin-right: 14px;
}
.hero-link-how {
  border-style: solid;
  border-color: var(--secondary);
}
.hero-link-down {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  display: block;
  margin-left: auto;
}

/* *       A D V A N T A G E S        */

.advantages {
  color: var(--secondary);
  background-color: var(--violet);
  padding-top: 50px;
  padding-bottom: 50px;
}
.advantages-list {
  display: flex;
  gap: 88px;
  justify-content: center;
  padding-right: 18px;
  padding-left: 18px;
}
.advantages-item {
  width: calc((100% - 2 * 88px) / 3);
}
.advantages-subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.advantages-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(var(--secondary-for-rgba), 0.7);
}

/* *            T A S T E             */

.taste {
  padding-top: 100px;
}
.taste-title {
  margin-bottom: 28px;
}
.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px;
}
.taste-list {
  display: flex;
  gap: 19px;
}
.taste-item {
  border: 1px solid var(--accent);
  border-radius: 15px;
  background-color: var(--secondary);
  width: calc((100% - 3 * 19px) / 4);
  padding: 28px;
  /* height: 270px; */
}
.taste-img {
  margin-bottom: 36px;
}
.taste-item:nth-child(odd) {
  color: var(--secondary);
}
/* odd or 2n+1 */
.taste-subtitle {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* *            M A D E              */

.made {
  padding-top: 100px;
}
.made-title {
}

.made-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.made-list {
}
.made-item {
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* *            L O V E D             */

.loved {
  padding-top: 100px;
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-item h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.loved-item p {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
}

/* *            F O O T E R             */

.footer {
  color: var(--secondary);
  background-color: var(--violet);
}
.footer-main-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.footer-main-text span {
  color: var(--accent);
}
.footer-contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.footer-contacts {
  font-style: normal;
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
